#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}


/* select */
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

}

table th,table td{
padding: 10px 20px;
/* text-align: center; */
}

table tr:nth-child(odd){
background-color: #eee
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}

li{
  list-style: none;
  float: left;
  margin-left: 20px;
}

#list{
  display: flex;
}

/* 削除部分のモーダル装飾 時間があったらやる*/
#delete_a{
  cursor: pointer;
}

#close{
  cursor: pointer;
  width: 200px;
  border:1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin:16px auto 0;
}

#mask{
  background: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#modal{
  background: #fff;
  width: 300px;
  padding: 100px;
  border-radius: 4px;
  position: absolute;
  top:40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;

}

#modal > p {
  margin: 0 0 20px;
}

#mask.hidden{
  display: none;
}

#modal.hidden{
  transform: translate(0,-100px);
}

#return{
  position: absolute;
  width: 150px;
  height: 400px;
  background-color: yellow;
}